@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{font-family: 'poppins',sans-serif;height: max-content;background-color: #1a1a1a;}
body{height: max-content;}
.NavList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  width:max-content;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #352d68;
  border-radius: 15px;
/*  border: 2px solid #ff189b;*/
}

.button {
  float: left;
/*  background-color: #352d68;
  width: 20%;
  border-radius:15px ;*/
}

.button a {
  display: block;
  color: white;
  text-align: center;
  font-weight: 900;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
 /* border-radius: 15px;*/
  width: max-content;
}
/*Change the link color to #111 (black) on hover */
.button a:hover {
  background-color: white;
  color: #352d68;
}
.home{border-right: 1px solid white;}
.post{border-left: 1px solid white;}

.list{
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-bottom:25% ;
    display: grid;
    grid-template-columns: repeat(2,50%);
 /*   grid-template-rows: repeat(2,700px); */
    column-gap:5%;
    row-gap: 80px;
    align-content: center;
}

.contain{
    position: relative;
    text-align: center;
    width: max-content;
    max-width:750px;
    height: max-content;
    align-self: center;
    margin: auto;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(5, 47, 83,1); */
    border-radius: 15px;
    color: rgb(179, 179, 179,0);
    transition: 0.2s;
}
.overlay:hover{
    background-color: rgb(53, 45, 104,0.5);
    color: rgb(179, 179, 179);
}

.pp{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* color: wheat; */
}



.title{
    margin: 10px auto 5px 10px
}
.artist{
    margin:10px auto auto  30px;
}

img{
    display: block;
    position: relative;
    width:100%;
    border-radius: 15px;
    height: 500px;
    
}
